[Unit]
Description=Gala Node Server
After=network.target

[Service]
ExecStart=/usr/bin/node server.js
Restart=always
User=root
Environment=PATH=/usr/local/bin:/usr/bin:/bin

[Install]
WantedBy=multi-user.target
